* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 

General

*/

h4 {
  font-size: 36px;
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  position: relative;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

li {
  list-style: none;
}

.text-purple {
  color: #7342d6;
}

/* 

Nav Bar

*/
nav {
  height: 100px;
  display: flex;
  align-items: center;
}

.nav__logo--header {
  text-decoration: none;
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 44px;
  font-weight: 900;
}

.nav__logo,
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo--img {
  width: 70px;
  opacity: 0.8;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link,
.nav__link--primary,
.nav__link--second {
  padding: 0 18px;
  font-size: 28px;
  font-weight: 600;
}

.nav__link--second {
  margin-left: 24px;
}

.nav__link--primary {
  background-color: #7342d6;
  color: white;
  padding: 12px 44px;
  margin-left: 12px;
  border-radius: 50px;
}

/* React Templates Section */

#react {
  height: calc(100vh -80px);
}

.container {
  margin: 100px 0 150px 0;
}

.react__description {
  width: 40%;
  text-align: left;
}

.react__img {
  width: 100%;
  height: auto;
}

.react__img--wrapper {
  width: 60%;
  display: flex;
  align-items: center;
}

.react__description--header {
  font-size: 72px;
  font-weight: 900;
}

.react__description--para {
  margin: 60px 0;
  font-size: 36px;
}

.react__description--para-header {
  opacity: 0.3;
  margin: 40px 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.react__description--img {
  width: 100%;
  opacity: 0.3;
}

.react__description--wrapper {
  margin-top: 64px;
}

.email {
  border: 1px solid grey;
  padding: 20px 24px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.5;
  font-size: 20px;
}

.react__email {
  position: relative;
}

.react__email--button {
  background-color: #7342d6;
  font-size: large;
  color: white;
  padding: 12px 32px;
  margin: 8px 8px;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 

Service Section

*/

.row__service {
  display: flex;
  flex-direction: column;
}

.service__span--header {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 0.15em;
}

.service__header {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
}

.service__description--sub-title {
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  max-width: 900px;
  width: 100%;
  opacity: 0.5;
}

.vertical__spacer {
  width: 100%;
  margin-top: 140px;
}

/*

Service Boxes

*/

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.service__description {
  width: 30%;
  text-align: left;
  margin: 0 12px;
  display: flex;
  align-items: flex-start;
}

.service__img--wrapper {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 100px;
  display: inline-block;
  width: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.service__img {
  width: 100%;
  padding: 30px;
}

.service__description--container {
  margin: 16px 0 0 16px;
}

.servce__description--header {
  margin-bottom: 24px;
  text-align: left;
  font-size: 36px;
  font-weight: 900;
  opacity: 0.8;
}

.service__description--para {
  font-size: 25px;
  line-height: 2.5;
  opacity: 0.5;
}

/*

Quality Section

*/

.quality__description {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.quality__img--wrapper {
  width: 47%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(227, 227, 227);
  border-radius: 6px;
}

.quality__img {
  width: 100%;
}

.quality__span--header,
.quality__description--title .quality__description--para,
.quality__button {
  text-align: left;
}

.quality__span--header {
  margin-bottom: 50px;
  font-size: 32px;
  letter-spacing: 0.15em;
  text-align: left;
}

.quality__description--title {
  font-size: 80px;
  font-weight: 900;
  opacity: 0.9;
  letter-spacing: 0.05em;
}

.quality__description--para,
.pricing__description--para {
  font-size: 28px;
  margin: 54px 0;
  max-width: 900px;
  width: 100%;
  opacity: 0.5;
}

.quality__button {
  color: white;
  background-color: #7342d6;
  padding: 20px 40px;
  border: none;
  max-width: 250px;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/*

Steps 

*/

.row__values {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.number__list,
.number__list--first {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  width: 30%;
  font-size: 72px;
  opacity: 0.5;
  text-align: left;
}

.steps__description--wrapper {
  display: flex;
  margin: 40px 0;
}

.steps__description--para {
  font-size: 32px;
  margin-top: 24px;
  max-width: 900px;
  width: 100%;
  opacity: 0.7;
}

.steps__description {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.register {
  margin-right: 20px;
}

.number__list--first {
  width: 26%;
}

/* 

Values 

*/

.values__description {
  width: 50%;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

.values__description--wrapper-one {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.values__description--wrapper-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.values__span-one {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 12px;
}

.dollar-sign {
  width: 60px;
  margin-right: 12px;
}

.luggage-img {
  width: 60px;
  margin-right: 12px;
}

.values__description--wrapper {
  display: flex;
  margin-bottom: 60px;
}

.values__description--para {
  margin-top: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  letter-spacing: 0.05em;
}

/*

Pricing 

*/

.row__plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.pricing__description--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.pricing__description--para {
  text-align: center;
  margin: 48px 0;
}

.pricing__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pricing__section--personal,
.pricing__section--business,
.pricing__section--enterprise {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin: 0 20px;
  text-align: center;
}

.pricing__section--business {
  padding-top: 14px;
  background-color: rgb(76, 81, 191);
  color: white;
}

.banner__blue {
  height: 14px;
  width: 100%;
  background-color: rgb(129, 230, 217);
}

.banner__red {
  height: 14px;
  background-color: rgb(245, 101, 101);
}

.personal {
  padding-top: 40px 0;
}

.pricing__header {
  font-size: 30px;
  margin: 40px;
}

.pricing__sub-header {
  font-size: 60px;
  font-weight: 900;
}

.pricing__monthly {
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.pricing__description {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.pricing__header--list {
  padding: 24px 0;
  letter-spacing: 0.05em;
  font-size: 28px;
}

.feature,
.feature-business {
  padding: 20px 0;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.5;
  letter-spacing: 0.04em;
}

.feature-business {
  opacity: 0.9;
}

.pricing__button--wrapper {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__button {
  padding: 0 20px;
}

.personal__button,
.business__button,
.enterprise__button {
  padding: 24px 28px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: 0.05em;
  background-color: rgb(129, 230, 217);
  font-weight: 900;
}

.business__button {
  color: rgb(100 21 255);
  background-color: rgb(247 250 252);
}

.enterprise__button {
  background-color: rgb(245, 101, 101);
}

/*

Ratings

*/

.row__ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings__img {
  width: 100%;
}

.ratings__img--wrapper,
.ratings__description {
  width: 45%;
}

.ratings__description {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.ratings__img {
  width: 100%;
}

.ratings__stars {
  color: rgb(231, 196, 0);
}

.pricing__description--para {
  text-align: left;
}

.ratings__description--sub-para {
  letter-spacing: 0.05em;
}

.ratings__person {
  display: flex;
  margin-top: 46px;
}

.ratings__img--person {
  max-width: 80px;
  border-radius: 40px;
}

.ratings__person--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.ratings__person--title {
  letter-spacing: 0.05em;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  opacity: 0.9;
}

.ratings__person--sub-title {
  letter-spacing: 0.04em;
  opacity: 0.7;
}

/*

Box

*/

.row__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(96, 16, 255, 0.9);
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
}

.box__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 0 24px;
}

.box__description,
.box__buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-left: 12px;
  line-height: 1.8;
}

.box__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started,
.contact-us {
  color: white;
  padding: 24px 50px;
  border-radius: 50px;
  background-color: rgb(245 101 101);
  margin-right: 30px;
  cursor: no-drop;
}

.contact-us {
  background-color: rgba(96, 16, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/*

Footer 

*/

footer {
  background-color: rgba(96, 16, 255, 0.9);
  position: relative;
  color: white;
}

.footer__container {
  width: 100%;
}

.row__footer {
  width: 100%;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__description--list {
  width: 20%;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__header {
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-size: 24px;
}

.footer__link--list {
  margin-bottom: 16px;
  transition: all 300ms ease;
  width: auto;
}

.footer__link {
  color: white;
}

.link__hover-effect--white:after {
  content: "";
  background-color: white;
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -6px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:hover:after {
  width: 100%;
  left: 0;
}

.footer__spacer {
  height: 60px;
  border-bottom: 1px solid white;
  opacity: 0.3;
}

/*

Copyright Footer

*/

.footer__copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer__logo--img {
  max-width: 50px;
}

.footer__logo--header {
  color: white;
  margin-left: 15px;
}

.copyright-para {
  text-align: center;
}

.social-links {
  display: flex;
}

.footer__social--wrapper {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  background-color: white;
  margin-right: 20px;
}

.footer__social {
  font-size: 20px;
  color: black;
  width: 100%;
  padding: 20px 24px;
}

/* Small Computer Screens */

@media (max-width: 1024px) {
  .nav__link--primary,
  .nav__link--second {
    font-size: 24px;
  }

  .nav__logo--header {
    font-size: 40px;
  }

  .nav__logo--img {
    width: 60px;
  }

  .nav__link {
    display: none;
  }

  .row {
    padding: 40px;
  }

  .react__description--header {
    font-size: 50px;
  }

  .react__description--para {
    font-size: 30px;
  }

  .react__email--button {
    font-size: 15px;
  }

  .email {
    font-size: 15px;
  }

  .service__header {
    font-size: 50px;
  }

  .service__description {
    width: 45%;
  }

  .service__img {
    padding: 25px;
  }

  .service__img--wrapper {
    max-width: 80px;
  }

  .quality__description--title {
    font-size: 50px;
    text-align: left;
  }
  .quality__description--para {
    font-size: 24px;
  }

  .quality__img--wrapper {
    width: 50%;
  }

  h4 {
    font-size: 30px;
  }

  .number__list--first,
  .number__list {
    font-size: 50px;
    margin-right: 10px;
  }

  .steps__description--para {
    font-size: 30px;
  }

  .quality__description--title {
    font-size: 50px;
  }

  .row__values {
    margin-top: 50px;
  }

  .dollar-sign,
  .luggage-img {
    max-width: 40px;
  }

  .pricing__description--para {
    font-size: 20px;
  }

  .pricing__header--list {
    font-size: 20px;
  }

  .pricing__sub-header {
    font-size: 36px;
  }

  .ratings__description--sub-para {
    font-size: 16px;
  }

  .box-header {
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    margin-left: 10px;
  }

  .get-started,
  .contact-us {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 42px;
  }

  .footer__header {
    font-size: 20px;
  }

  .footer__link {
    font-size: 16px;
  }

  .copyright-para {
    font-size: 16px;
  }

  .footer__social {
    padding: 16px 20px;
    font-size: 16px;
  }

  .footer__logo--img {
    max-width: 30px;
  }

  .footer__logo--header {
    font-size: 20px;
  }
}

/* Small phones, Tablets Etc */

@media (max-width: 768px) {
  .quality__description--title {
    font-size: 40px;
  }

  h4 {
    font-size: 26px;
  }

  .number__list,
  .number__list--first {
    font-size: 40px;
  }

  .steps__description--para {
    font-size: 24px;
  }

  .values__img--wrapper {
    position: relative;
    bottom: 115px;
  }

  .pricing__header {
    font-size: 20px;
  }

  .ratings__img--person {
    max-width: 80px;
    height: 50%;
    text-align: center;
  }

  .pricing__section--personal {
    height: 100%;
  }

  .pricing__sub-header {
    font-size: 30px;
  }

  .personal__button,
  .business__button,
  .enterprise__button {
    font-size: 16px;
  }

  .box__buttons--wapper {
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .box__container {
    height:300px;
  }

  .box-header {
    font-size: 30px;
  }

  .get-started {
    display: none;
  }

  .contact-us {
    font-size: 30px;
    background-color: rgb(245 101 101);
    margin-right: 40px;
  }

  .footer__description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
